fastapi~=0.68.1
uvicorn~=0.15.0

starlette~=0.14.2
jinja2
pydantic~=1.8.2
pytest~=6.2.5
graphene~=2.1.9
SQLAlchemy~=1.4.25
psycopg2~=2.9.1
requests~=2.26.0
python-jose~=3.3.0
passlib~=1.7.4
python-multipart